---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=example%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE SECRET KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1431121058,
          "id": "cus_6Cibc8FD2GPf51",
          "livemode": false,
          "description": null,
          "email": "example@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6Cibc8FD2GPf51/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6Cibc8FD2GPf51/sources",
            "data": []
          },
          "default_source": null
        }
  recorded_at: Fri, 08 May 2015 21:37:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer <STRIPE SECRET KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_6CibPkmZjqY6gT",
          "livemode": false,
          "created": 1431121058,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_6CibshrSFJtZLe",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 10,
            "exp_year": 2018,
            "fingerprint": "OBh5HA7WmT7KZ4Of",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "50.23.152.10"
        }
  recorded_at: Fri, 08 May 2015 21:37:49 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6Cibc8FD2GPf51
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE SECRET KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1431121058,
          "id": "cus_6Cibc8FD2GPf51",
          "livemode": false,
          "description": null,
          "email": "example@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6Cibc8FD2GPf51/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6Cibc8FD2GPf51/sources",
            "data": []
          },
          "default_source": null
        }
  recorded_at: Fri, 08 May 2015 21:37:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6Cibc8FD2GPf51/sources
    body:
      encoding: US-ASCII
      string: source=tok_6CibPkmZjqY6gT
    headers:
      Authorization:
      - Bearer <STRIPE SECRET KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_6CibshrSFJtZLe",
          "object": "card",
          "last4": "4242",
          "brand": "Visa",
          "funding": "credit",
          "exp_month": 10,
          "exp_year": 2018,
          "fingerprint": "OBh5HA7WmT7KZ4Of",
          "country": "US",
          "name": null,
          "address_line1": null,
          "address_line2": null,
          "address_city": null,
          "address_state": null,
          "address_zip": null,
          "address_country": null,
          "cvc_check": "pass",
          "address_line1_check": null,
          "address_zip_check": null,
          "dynamic_last4": null,
          "metadata": {},
          "customer": "cus_6Cibc8FD2GPf51"
        }
  recorded_at: Fri, 08 May 2015 21:37:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=10998&currency=usd&customer=cus_6Cibc8FD2GPf51&source=card_6CibshrSFJtZLe&description=Goswim%20Packages%3A%20Starting%20Package%2C%20Advanced%20Package&statement_descriptor=Goswim%20Packages%3A%20Start&capture=true
    headers:
      Authorization:
      - Bearer <STRIPE SECRET KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_6CibESYUBuxgJN",
          "object": "charge",
          "created": 1431121059,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 10998,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_6CibshrSFJtZLe",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 10,
            "exp_year": 2018,
            "fingerprint": "OBh5HA7WmT7KZ4Of",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": "cus_6Cibc8FD2GPf51"
          },
          "captured": true,
          "balance_transaction": "txn_6CibdWaeJYxbmJ",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_6Cibc8FD2GPf51",
          "invoice": null,
          "description": "Goswim Packages: Starting Package, Advanced Package",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": "Goswim Packages: Start",
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_6CibESYUBuxgJN/refunds",
            "data": []
          }
        }
  recorded_at: Fri, 08 May 2015 21:37:50 GMT
recorded_with: VCR 2.9.3
