---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=example%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE SECRET KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1431121803,
          "id": "cus_6CinO8LIbu7Ex3",
          "livemode": false,
          "description": null,
          "email": "example@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6CinO8LIbu7Ex3/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6CinO8LIbu7Ex3/sources",
            "data": []
          },
          "default_source": null
        }
  recorded_at: Fri, 08 May 2015 21:50:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer <STRIPE SECRET KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_6CinF9VUfPovrq",
          "livemode": false,
          "created": 1431121803,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_6Cin4iVPn82wW4",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2018,
            "fingerprint": "uhc30emK9YmRv0Rf",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "50.23.152.10"
        }
  recorded_at: Fri, 08 May 2015 21:50:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_6CinO8LIbu7Ex3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE SECRET KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1431121803,
          "id": "cus_6CinO8LIbu7Ex3",
          "livemode": false,
          "description": null,
          "email": "example@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6CinO8LIbu7Ex3/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6CinO8LIbu7Ex3/sources",
            "data": []
          },
          "default_source": null
        }
  recorded_at: Fri, 08 May 2015 21:50:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_6CinO8LIbu7Ex3/sources
    body:
      encoding: US-ASCII
      string: source=tok_6CinF9VUfPovrq
    headers:
      Authorization:
      - Bearer <STRIPE SECRET KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Fri, 08 May 2015 21:50:15 GMT
recorded_with: VCR 2.9.3
